html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    scrollbar-width: none;
    text-rendering: optimizeLegibility !important;
}
html::-webkit-scrollbar {
    background: transparent;
    width: 0;
}
p {
    margin: 0;
}

@font-face {
    font-family: "Mirza";
    src: url("../fonts/Mirza-Bold.ttf");
    src: url("../fonts/Mirza-Regular.ttf");
}
@font-face {
    font-family: "AlmendraSC";
    src: url("../fonts/AlmendraSC-Regular.ttf");
}
